@model IEnumerable<ResultatenSysteem.Models.Resultaat>

@{
    ViewData["Title"] = "Index";
    double cijfer = 0;
    string color = "";
}
<head>
    <style>
        .checked {
            background-color: mistyrose;
            animation: selectRow 0.4s;
        }

        .unchecked {
            animation: unselectRow 0.4s;
        }

        .clickable:hover {
            cursor: pointer;
        }

        #bewerkModusKnop, #verwijderRijenKnop {
            float: right;
            margin-right: 2%;
        }

        .deleteModalToggler:hover {
            cursor: pointer;
        }

        .editCijfer {
            width: 50%;
            display: none;
        }

        #verwijderRijenKnop {
            display: none;
        }

        @@keyframes unselectRow {
            from {
                background-color: #ffa0a8;
            }
        }

        @@keyframes selectRow {
            from {
                background-color: #ffa0a8;
            }
        }
    </style>
</head>

<script src="~/js/resultatenAanpassen.js"></script>
<h1>
    Resultaten aanpassen
    @foreach (var item in ViewBag.Student) //wordt alleen displayt als er maar 1 student is (viewbag is gevuld met ?id en anders is viewbag leeg)
    {
        <span>
            van @item.Voornaam @item.Tussenvoegsel @item.Achternaam
        </span>
    }
</h1>
<a asp-action="Index">Terug naar overzicht</a>
<a id="bewerkModusKnop" href="#" class="btn btn-warning">Bewerk modus</a>
<a id="verwijderRijenKnop" href="#" class="btn btn-danger" data-target="#verwijderResultaten" data-toggle="modal" style="display: none;">Verwijder rijen</a>

<table id="demo2" class="table" style="margin-top: 2%; ">
    <thead>
        <tr>
            <th style="width:20%;">
                @Html.DisplayNameFor(model => model.Beoordeling)
            </th>
            <th style="width:20%;">
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th style="width:20%;">
                Studentnummer
            </th>
            <th style="width:20%;">
                @Html.DisplayNameFor(model => model.Vak)
            </th>
            <th class="tableActieKnoppen" style="margin:0;"></th>
            <th class="bewerkModusContent" style="display:none;"></th>
        </tr>
    </thead>
    <tbody id="tableBody">

        @foreach (var item in Model)
        {
            <tr class="tableRow-@item.Id">
                <td class="beoordelingData" value="@item.Beoordeling">
                    @{
                        cijfer = item.Beoordeling;
                    }
                    @if (cijfer < 5.5)
                    {
                        color = "red";
                    }
                    else
                    {
                        color = "forestgreen";
                    }

                    <form asp-action="UpdateCijfer" method="get">
                        <div class="input-group cijferInput" style="width:50%;display:none;">
                            <input type="text" class="form-control" name="Cijfer" value="@item.Beoordeling" style="color:@color;" />
                            <input type="text" name="resultaatId" value="@item.Id" style="display:none;" />
                            <div class="input-group-append">
                                <button class="btn btn-primary editKnop" type="submit"><i class="fas fa-upload"></i></button>
                            </div>
                        </div>
                    </form>
                    <span class="beoordeling" style="color:@color;">
                        @Html.DisplayFor(modelItem => item.Beoordeling)
                    </span>
                </td>
                <td>
                    <a asp-action="Index" asp-route-id="@item.Student.Id" name="studentId">
                        @Html.DisplayFor(modelItem => item.Student.Voornaam)
                        @Html.DisplayFor(modelItem => item.Student.Tussenvoegsel)
                        @Html.DisplayFor(modelItem => item.Student.Achternaam)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.Studentnummer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vak.Naam)
                </td>
                <td class="tableActieKnoppen" style="color:white!important;">
                    <a style="display:none;" class="btn btn-danger deleteModalToggler" data-toggle="modal" data-target="#verwijderResultaat" cijfer="@item.Beoordeling" vak="@item.Vak.Naam" resultaat-id="@item.Id" studentDisplayNaam="@item.Student.Voornaam @item.Student.Tussenvoegsel @item.Student.Achternaam"><i class="fas fa-trash-alt"></i></a>
                </td>
                <td class="bewerkModusContent" style="display:none;">
                    <input class="checkbox" style="" resultaat-id="@item.Id" type="checkbox" />
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="verwijderResultaten" tabindex="-" role="dialog" aria-labelledby="verwijderResultatenTitle" aria-hidden="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="text-align: center;">
            <span style="margin-top:1%;font-size:35px;color:orange;">
                <i class="fas fa-exclamation-triangle"></i>
            </span>
            <h3 id="verwijderResultatenMessage">U staat op het punt om resultaten te verwijderen</h3>
            <div class="modal-body">
                <div class="alert alert-danger">
                    Weet u zeker dat u deze actie wilt voltooien? Dit kan niet ongedaan worden.
                </div>
            </div>
            <div class="modal-footer">
                <form asp-controller="Resultaten" asp-action="DeleteMultipleRows" method="get">
                    <div class="input-group" style="color:white;">
                        <div id="resultatenLijstInput" style="display:none;">
                        </div>
                        <div>
                            <input class="btn btn-danger" id="deleteResultatenButton" type="submit" value="Verwijderen" />
                        </div>
                    </div>
                </form>
                <button type="button" class="btn" data-dismiss="modal"><i class="fas fa-times"></i></button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="verwijderResultaat" tabindex="-" role="dialog" aria-labelledby="verwijderResultaatTitle" aria-hidden="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="text-align: center;">
            <span style="margin-top:1%;font-size:35px;color:orange;">
                <i class="fas fa-exclamation-triangle"></i>
            </span>
            <h3>U staat op het punt om dit resultaat te verwijderen</h3>
            <div class="modal-body">
                <div class="alert alert-danger">
                    Weet u zeker dat u deze actie wilt voltooien? Dit kan niet ongedaan worden.
                </div>
                <div id="resultaatGegevens">
                    <dl class="row">
                        <dt class="col-sm-2">Naam:</dt>
                        <dd class="col-sm-10" id="naamDisplay"></dd>
                        <dt class="col-sm-2">Vak:</dt>
                        <dd class="col-sm-10" id="vakDisplay"></dd>
                        <dt class="col-sm-2">Beoordeling:</dt>
                        <dd class="col-sm-10" id="beoordelingDisplay"></dd>
                    </dl>
                </div>
            </div>
            <div class="modal-footer">
                <span style="float:left!important;margin-right:10%;font-size:0,5rem;" id="studentDisplayNaam"></span>
                <a class="btn btn-danger" id="deleteResultaatButton" asp-action="Delete">Verwijderen</a>
                <button type="button" class="btn" data-dismiss="modal"><i class="fas fa-times"></i></button>
            </div>
        </div>
    </div>
</div>