@model IEnumerable<ResultatenSysteem.Models.Resultaat>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject RoleManager<ApplicationRole> RoleManager

@{
    double cijfer = 0;
    string tableStyle = "";
    string display = "hidden";
    string arrowClass = "";
    int aantalVoldoende = 0;
    int aantalOnvoldoende = 0;
    int studentAantalVoldoende = 0;
    int studentAantalOnvoldoende = 0;
    var activeUser = await UserManager.GetUserAsync(User);

    if (SignInManager.IsSignedIn(User))
    {
        string userFullName = activeUser.Voornaam + " " + activeUser.Tussenvoegsel + " " + activeUser.Achternaam;
        ViewData["WelkomMessage"] = "Welkom " + userFullName;
        if (activeUser.ChosenTheme == "dark-sb-admin-2")
        {
            tableStyle = "table-dark table-hover table-striped";
        }
    }
    if (User.IsInRole("Medewerker") == false)
    {
        ViewData["Title"] = "Mijn resultaten";
    }
    else
    {
        ViewData["Title"] = "Resultaten bekijken";
    }
}

<style>
    .rotate {
        -moz-transition: all .1s linear;
        -webkit-transition: all .1s linear;
        transition: all .1s linear;
    }
    .down {
        -moz-transform: rotate(-90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(-180deg);
    }
</style>

<h1>@ViewData["Title"]</h1>
<h3>@ViewData["WelkomMessage"]</h3>


@if (User.IsInRole("Medewerker"))
{
    <div id="chartpieholder" class="chart-pie">
        <canvas width="200" height="100" aria-label="Resultatenlijst Cijfers Canvas" id="myPieChart">test</canvas>
    </div>
    <div class="form-group" style="margin:2% 0% 8% 0%;">
        <a class="btn btn-primary" style="float:left;margin-right:20%;color:white;" asp-action="Create">
            Cijfer invoeren
        </a>
        <form asp-controller="Resultaten" asp-action="Index" method="get" style="float:right;margin-right:15%!important" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group" style="color:white;">
                <input type="text" class="form-control bg-light border-0 small" placeholder="Student opzoeken..." name="searchString" aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <select class="form-control bg-light border-0 small" name="groepId">
                        <option value="">Alle groepen</option>
                        @foreach (var groep in ViewBag.Groepen)
                        {
                            <option value="@groep.Id">@groep.Naam (@groep.Groepscode)</option>
                        }
                    </select>
                    <input class="btn btn-primary" type="submit" value="Zoeken" />
                    <a class="btn btn-primary" asp-action="Index" asp-route-id="0">
                        <i class="fas fa-sync"></i>
                    </a>
                </div>
            </div>
        </form>
    </div>
}
<table id="studentenTabel" class="table @tableStyle">
    <thead>
        <tr>
            @if (User.IsInRole("Medewerker"))
            {
                <th>Naam</th>
                <th>Studentnummer</th>
                <th>Resultaten</th>
                <th>E-Mail</th>
                <th>Acties</th>
            }
            else
            {
                <th>Resultaten</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var student in ViewBag.Studenten)
        {
            @if (User.IsInRole("Medewerker") == false)
            {
                @if (student.Email == User.Identity.Name)
                {

                    @if (Enumerable.Count(ViewBag.Studenten) <= 1)
                    {
                        display = "normal";
                        arrowClass = "down";
                    }
                    else
                    {
                        display = "none";
                    }
                    <tr>
                        <td style="padding-bottom:2%;margin-bottom:5%;">
                            @if (student.Resultaten != null)
                            {
                                <a href="#" class="toggler" data-student-toggle="@student.Id" style="float:left;">Resultaten bekijken <i class="fas fa-angle-down rotate @arrowClass toggle-@student.Id"></i></a>
                            }
                            else
                            {
                                <span class="text-danger" style="float:left;">Je hebt nog geen resultaten behaald</span>
                            }
                            <br />
                            @foreach (var item in Model.Where(g => g.StudentId == student.Id))
                            {
                                <span class="student-@item.StudentId" style="display:@display;">
                                    @Html.DisplayFor(modelItem => item.Vak.Vakcode)
                                    @{
                                        cijfer = item.Beoordeling;
                                    }
                                    @if (cijfer < 5.5)
                                    {
                                        aantalOnvoldoende++;
                                        <span style="color:red;">
                                            @item.Beoordeling
                                        </span>
                                    }
                                    else
                                    {
                                        aantalVoldoende++;
                                        <span style="color:forestgreen;">
                                            @item.Beoordeling
                                        </span>

                                    }
                                </span>
                            }
                        </td>
                    </tr>
                }
            }
            else // als user admin is alle studenten laten zien
            {
                studentAantalOnvoldoende = 0;
                studentAantalVoldoende = 0;
                @if (Enumerable.Count(ViewBag.Studenten) <= 1) //kijken hoeveel studenten er in viewbag zitten (als het 1 is worden de cijfers gelijk getoond ipv dat een gebruiker moet klikken op resultaten bekijken)
                {
                    display = "normal";
                    arrowClass = "down";
                }
                else
                {
                    display = "none";
                }
                <tr>
                    <td style="width:20%;">
                        @student.Voornaam
                        @student.Tussenvoegsel
                        @student.Achternaam
                    </td>
                    <td style="width:20%;">@student.Studentnummer</td>
                    <td style="padding-bottom:2%;margin-bottom:5%;">
                        @if (student.Resultaten != null)
                        {
                            <a href="#" class="toggler" data-student-toggle="@student.Id" style="float:left;">Resultaten bekijken <i class="fas fa-angle-down rotate @arrowClass toggle-@student.Id"></i></a>
                        }
                        else
                        {
                            <span class="text-danger" style="float:left;">Deze student heeft nog geen cijfers</span>
                        }
                        <br />
                        @foreach (var item in Model.Where(g => g.StudentId == student.Id))
                        {
                            <span class="student-@item.StudentId" style="display:@display;">
                                @Html.DisplayFor(modelItem => item.Vak.Vakcode)
                                @{
                                    cijfer = item.Beoordeling;
                                }
                                @if (cijfer < 5.5)
                                {
                                    studentAantalOnvoldoende++;
                                    aantalOnvoldoende++;
                                    <span style="color:red;">
                                        @item.Beoordeling
                                    </span>
                                }
                                else
                                {
                                    studentAantalVoldoende++;
                                    aantalVoldoende++;
                                    <span style="color:forestgreen;">
                                        @item.Beoordeling
                                    </span>
                                }
                            </span>
                        }
                        <span id="studentAantalVoldoende-@student.Id" style="display:none;">@studentAantalVoldoende</span>
                        <span id="studentAantalOnvoldoende-@student.Id" style="display:none;">@studentAantalOnvoldoende</span>
                        <div class="chart-pie student-@student.Id studentPieChartContainer" style="display:@display;">
                            <canvas width="100" height="100" aria-label="Resultatenlijst Cijfers Canvas" id="studentPieChart-@student.Id"></canvas>
                        </div>
                    </td>
                    <td>
                        <a href="#">@student.Email</a>
                    </td>
                    <td style="width:25%;">
                        <form asp-controller="Resultaten" asp-action="Create" method="get" style="float:left;">
                            <div class="input-group" style="color:white;">
                                <input name="forStudent" value="@student.Studentnummer-@student.Achternaam" style="display:none;">
                                <div>
                                    <input class="btn btn-primary" type="submit" value="Invoeren" />
                                </div>
                            </div>
                        </form>
                        @if (student.Resultaten != null)
                        {
                            <form asp-controller="Resultaten" asp-action="Aanpassen" method="get" style="float:right;margin-right:45%;">
                                <div class="input-group" style="color:white;">
                                    <input name="studentId" value="@student.Id" style="display:none;">
                                    <div>
                                        <input class="btn btn-primary" type="submit" value="Aanpassen" />
                                    </div>
                                </div>
                            </form>
                        }
                        else
                        {
                            <span class="btn" id="notAllowedBtn">Aanpassen</span>
                        }

                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<span id="aantalVoldoende" style="display:none;">@aantalVoldoende</span>
<span id="aantalOnvoldoende" style="display:none;">@aantalOnvoldoende</span>

<script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="~/js/sb-admin-2.min.js"></script>
<script src="~/vendor/chart.js/Chart.min.js"></script>
<script src="~/js/demo/resultatenlijst.js"></script>