@model IEnumerable<ResultatenSysteem.Models.Student>

@{
    ViewData["Title"] = "Index";
}
<script>
    var aantal = 0;
    var lowerCaseMail = "";
    $(document).ready(function () {
        href = $("#deleteStudentButton").attr("href"); //vult href variabele met href van de geklikte knop (standaard /Medewerker/Studenten/DeleteStudent/?id)
        var studentId = 0;
        var studentNaam = "";
        $(".deleteModalToggler").click(function (event) { // als de'verwijderen'link geklikt wordt runt deze functie
            event.preventDefault();
            studentId = $(this).attr('student-id'); //vult studentId variabele met student-id attribuut gelinkt aan de geklikte knop
            studentNaam = $(this).attr('studentDisplayNaam'); //vult studentId variabele met studentDisplayNaam attribuut gelinkt aan de geklikte knop
            $("#deleteStudentButton").attr('href', href + "/" + studentId); // verandert href naar standaard href + /studentId
            $("#studentDisplayNaam").text(studentNaam); //vult naam placeholder studentDisplayNaam 
        });
        $('tbody').find('tr').each(function () {
            aantal++;
            $(this).find('.studentMail').each(function () {
                lowerCaseMail = $(this).text().toLowerCase();
                $(this).attr("href", "mailto:" + lowerCaseMail);
            });
        });
    });
</script>
<h1>Studentenlijst</h1>

<div class="modal fade" id="verwijderStudent" tabindex="-" role="dialog" aria-labelledby="verwijderStudentTitle" aria-hidden="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="text-align: center;">
            <span style="margin-top:1%;font-size:35px;color:orange;">
                <i class="fas fa-exclamation-triangle"></i>
            </span>
            <h3>U staat op het punt om een student te verwijderen</h3>
            <div class="modal-body">
                <div class="alert alert-danger">
                    Weet u zeker dat u deze actie wilt voltooien? Dit kan niet ongedaan worden.
                </div>
            </div>
            <div class="modal-footer">
                <span style="float:left!important;margin-right:10%;font-size:0,5rem;" id="studentDisplayNaam"></span>
                <a class="btn btn-danger" id="deleteStudentButton" asp-action="DeleteStudent">Verwijderen</a>
                <button type="button" class="btn" data-dismiss="modal"><i class="fas fa-times"></i></button>
            </div>
        </div>
    </div>
</div>
<p>
    <a asp-action="Create">Student Toevoegen</a>
    <a asp-area="Identity" asp-page="/Account/Register">Student met user account aanmaken</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Naam
            </th>
            <th>
                E-Mail
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    (@Html.DisplayFor(modelItem => item.Studentnummer))
                    @Html.DisplayFor(modelItem => item.Voornaam)
                    @Html.DisplayFor(modelItem => item.Tussenvoegsel)
                    @Html.DisplayFor(modelItem => item.Achternaam)
                </td>
                <td>
                    <a class="studentMail" href="mailto:@item.Email" style="text-transform:lowercase;">@item.Email</a>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a href="#" class="deleteModalToggler" data-toggle="modal" studentDisplayNaam="@item.Voornaam  @item.Tussenvoegsel @item.Achternaam (@item.Studentnummer)" student-id="@item.Id" data-target="#verwijderStudent">
                        Verwijderen
                    </a>
                    |
                    <a asp-controller="Resultaten" asp-action="Index" asp-route-id="@item.Id">Resultaten bekijken</a>
                </td>
            </tr>
        }
    </tbody>
</table>