@page
@model RegisterModel
@{
    ViewData["Title"] = "Student Registreren";
    if (ViewBag.Actie != null)
    {
        ViewData["Title"] = "Student toewijzen aan aanvraag";
    }
}

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<style>
    header, footer {
        display: none;
    }
</style>
<link href="~/css/loginPage.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">

<div class="test reset-this">

    <div class="container">
        <div class="loginCardContainer">
            <div class="loginCard">
                <section id="loginSection">
                    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <h1>@ViewData["Title"]</h1>
                        @if (ViewBag.Opmerking != null)
                        {
                            <span><b>Opmerking:</b></span>
                            <span> @ViewBag.Opmerking</span>
                        }
                        <div asp-validation-summary="All" class="text-danger"></div>

                        <div class="formRow">
                            <label asp-for="Input.Voornaam"></label>
                            <input asp-for="Input.Voornaam" class="form-control" value="@ViewBag.Voornaam" />
                            <span asp-validation-for="Input.Voornaam" class="text-danger"></span>
                        </div>
                        <div class="formRow">
                            <label asp-for="Input.Tussenvoegsel"></label>
                            <input asp-for="Input.Tussenvoegsel" class="form-control" value="@ViewBag.Tussenvoegsel" />
                            <span asp-validation-for="Input.Tussenvoegsel" class="text-danger"></span>
                        </div>
                        <div class="formRow">
                            <label asp-for="Input.Achternaam">Achternaam</label>
                            <input asp-for="Input.Achternaam" class="form-control" value="@ViewBag.Achternaam" />
                            <span asp-validation-for="Input.Achternaam" class="text-danger"></span>
                        </div>

                        @foreach (var g in ViewBag.Groepen)
                        {
                            <input type="checkbox" name="GroepId" class="custom-checkbox" value="@g.Id">
                            <span>@g.Naam (@g.Groepscode)</span>
                            <br />
                        }

                        <button type="submit" class="btn btn-primary">Account aanmaken</button>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>
