@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    Layout = "/Views/Shared/_AccountLayout.cshtml";
    var activeUser = await UserManager.GetUserAsync(User);
}
<style>
    #roleSpan {
        position: absolute;
        font-size:20px;
        z-index: 99;
        padding: 0.5%;
        margin-top: 5%;
        margin-left: 3%;
    }
    .accountdetails {
        margin-top: 4%;
        margin-right: 20%;
        text-align: center;
    }
    .accountdetails > img {
        width: 50px;
        border-radius: 100%;
        height: auto;
        float: right;
        margin-top: -2%;
        margin-right: -15%;
    }
</style>

<div class="container">
    <div class="loginCardContainer">
        <div class="loginCard account-management">
            <div class="accountdetails" >
                @*@if (User.IsInRole("Medewerker"))
            {<span id="roleSpan">Medewerker</span>
            }*@
                <img src="~/userImg/@activeUser.ImgNaam" />
               @* <span>@activeUser.Voornaam @activeUser.Tussenvoegsel @activeUser.Achternaam <span style="font-size:15px;">(@activeUser.Gebruikersnummer)</span></span>*@
            </div>
            <section id="loginSection">
                <h1>Account beheren</h1>
                <div>
                    <h4>Verander je account opties:</h4>
                    <hr />
                    <div class="row">
                        <div class="col-md-3">
                            <partial name="_ManageNav" />
                        </div>
                        <div class="col-md-9">
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="loginCardContainer">
        <div class="loginCard" style="width:50%;">
            <section id="loginSection">
                @RenderBody()
            </section>
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
