@model ResultatenSysteem.Models.Groep

@{
    ViewData["Title"] = "Bewerken";
    ViewData["Controller"] = "Groepen";
}

<h1>Edit</h1>

<h4>Groep</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Naam" class="control-label"></label>
                <input asp-for="Naam" class="form-control" />
                <span asp-validation-for="Naam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Groepscode" class="control-label"></label>
                <input asp-for="Groepscode" class="form-control" />
                <span asp-validation-for="Groepscode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            @foreach (var item in ViewBag.Vakken)
            {
                if (Model.Vakken.FirstOrDefault(v => v.VakId == item.Id) == null)
                {
                    <input type="checkbox" name="VakId" value="@item.Id" /> @item.Naam <span>(@item.Vakcode)</span><br />
                }
                else
                {
                    <input type="checkbox" name="VakId" value="@item.Id" checked /> @item.Naam <span>(@item.Vakcode)</span><br />
                }
            }
            <br>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
