@model ResultatenSysteem.ViewModels.DashboardViewModel
@{ 
    var totaalOnvoldoende = 0;
    var aantalOnvoldoende = 0;
    var totaalVoldoende = 0;
    var aantalVoldoende = 0;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="~/css/loginPage.css" rel="stylesheet" />
    <script src="~/js/demo/chart-area-demo.js"></script>
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/js/sb-admin-2.min.js"></script>
    <script src="~/vendor/chart.js/Chart.min.js"></script>
    <script src="~/js/demo/dashboard.js"></script>
    <script src="~/js/demo/chart-bar-demo.js"></script>
    <title>Dashboard</title>
    <style>
        .col {
            margin-top: 2%;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="chartCard">
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="myBarChart"></canvas>
                        </div>
                        <hr>
                        Hier ziet u het aantal behaalde voldoendes dat het totaal aantal studenten in een groep behaald heeft <br /><code>Dit is niet het aantal behaalde voldoendes in een groep</code>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="chartCard">
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="myPieChart"></canvas>
                        </div>
                        <hr>
                        Dit is het percentage aan totaal behaalde voldoendes
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div id="groupCharts">
        </div>
   
    </div>
    <div id="groepData">
        @foreach (var groep in Model.Groepen)
        {
            aantalVoldoende = 0;
            aantalOnvoldoende = 0;
            <span id="groep-@groep.Groepscode" groepscode="@groep.Groepscode" groep-id="@groep.Id" class="groepsCode"></span>
            @foreach (var student in groep.Studenten)
            {
                @foreach (var beoordeling in Model.Resultaten)
                {
                    @if (beoordeling.Student.Id == student.Student.Id)
                    {
                        @if (beoordeling.Beoordeling >= 5.5)
                        {
                            totaalVoldoende++;
                            aantalVoldoende++;
                        }
                        else
                        {
                            totaalOnvoldoende++;
                            aantalOnvoldoende++;
                        }
                    }
                }
            }
            <span style="color:green;" class="groepsVoldoendes" aantalVoldoendes="@aantalVoldoende"></span>
            <span style="color:red;" class="groepsOnvoldoendes" aantalOnvoldoendes="@aantalOnvoldoende"></span>
        }
        <span id="totaalVoldoende" aantalVoldoendes="@totaalVoldoende"></span>
        <span id="totaalOnvoldoende" aantalOnvoldoendes="@totaalOnvoldoende"></span>
    </div>
</body>
</html>
