@model ResultatenSysteem.ViewModels.DashboardViewModel
@{ 
    var totaalOnvoldoende = 0;
    var aantalOnvoldoende = 0;
    var totaalVoldoende = 0;
    var aantalVoldoende = 0;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="~/js/detectSwipe.js"></script>
    <script src="~/js/demo/chart-area-demo.js"></script>
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/js/sb-admin-2.min.js"></script>
    <script src="~/vendor/chart.js/Chart.min.js"></script>
    <script src="~/js/demo/chart-bar-demo.js"></script>
    <script src="~/js/dashboard.js"></script>

    <title>Dashboard</title>
    <style>
        .col {
            margin-top: 2%;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row" id="snelActies" style="position:relative;" aria-label="Snel invoer knoppen">
            <div id="previousPage">
                <div id="previousPageButton">
                    <i class="fas fa-chevron-left"></i>
                </div>
                <div class="col-12 " id="snel-invoeren">
                    <div class="chart-card">
                        <div class="card-body">
                            <h1>Snel invoeren:</h1>
                            <div class="row">
                                <div class="col">
                                    <a id="groepSnelToevoegenButton" data-toggle="modal" data-target="#snelToevoegenModal">
                                        <div class="buttonCard green grow clickable">
                                            <i class="fas fa-users"></i> +
                                        </div>
                                    </a>
                                </div>
                                <div class="col">
                                    <a id="resultaatSnelToevoegenButton" data-toggle="modal" data-target="#snelToevoegenModal">
                                        <div class="buttonCard green grow clickable">
                                            <i class="fas fa-list-ol"></i> +
                                        </div>
                                    </a>
                                </div>
                                <div class="col">
                                    <a id="studentSnelToevoegenButton" data-toggle="modal" data-target="#snelToevoegenModal">
                                        <div class="buttonCard green grow clickable">
                                            <i class="fas fa-graduation-cap"></i> +
                                        </div>
                                    </a>
                                </div>
                                <div class="col">
                                    <a id="vakSnelToevoegenButton" data-toggle="modal" data-target="#snelToevoegenModal">
                                        <div class="buttonCard green grow clickable">
                                            <i class="fas fa-book"></i> +
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="nextPage">
                <div id="nextPageButton">
                    <i class="fas fa-chevron-right"></i>
                </div>
                <div class="col " id="snel-bekijken">
                    <div class="chart-card">
                        <div class="card-body">
                            <h1>Snel bekijken:</h1>
                            <div class="row">
                                <div class="col">
                                    <div class="buttonCard red grow clickable">
                                        <i class="fas fa-users"></i>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="buttonCard red grow clickable">
                                        <i class="fas fa-list-ol"></i>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="buttonCard red grow clickable">
                                        <i class="fas fa-graduation-cap"></i>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="buttonCard red grow clickable">
                                        <i class="fas fa-book"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:2%;">
            <div class="col">
                <div class="chart-card">
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="myBarChart"></canvas>
                        </div>
                        <hr>
                        Hier ziet u het aantal behaalde voldoendes dat het totaal aantal studenten in een groep behaald heeft <br /><code>Dit is niet het aantal behaalde voldoendes in een groep</code>
                    </div>
                </div>
            </div>
            @*<div class="col-4">
                    <div class="chart-card">
                        <div class="card-body">
                            <div class="chart-area">
                                <canvas id="myBarChart"></canvas>
                            </div>
                            <hr>
                            Hier ziet u het aantal behaalde voldoendes dat het totaal aantal studenten in een groep behaald heeft <br /><code>Dit is niet het aantal behaalde voldoendes in een groep</code>
                        </div>
                    </div>
                </div>*@
            <div class="col">
                <div class="chart-card">
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id="myPieChart"></canvas>
                        </div>
                        <hr>
                        Dit is het percentage aan totaal behaalde voldoendes
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div id="group-charts">
        </div>
        <div class="row" id="opleiding-aanvragen">
            <div class="col">
                <div class="chart-card">
                    <div class="card-body">
                        <div class="opleiding-aanvragen_card-content">
                            <h1>Opleiding aanvragen</h1>
                            @foreach (var aanvraag in Model.Aanvragen)
                            {
                                <div class="row opleiding-aanvragen_row clickable">
                                    <a asp-area="" asp-action="Edit" asp-controller="Aanvragen" asp-route-id="@aanvraag.Id">
                                        <div class="aanvraagDetails">
                                            <p><span class="name">@aanvraag.Voornaam @aanvraag.Tussenvoegsel @aanvraag.Achternaam</span>@aanvraag.Opmerking</p>
                                        </div>
                                        <span class="opleiding-aanvragen_aanvraag-status @aanvraag.AanvraagStatus.ToString().ToLower()">@aanvraag.AanvraagStatus</span>
                                        <span class="opleiding-aanvragen_aanvraag-datum">@aanvraag.AanvraagDatum</span>
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="groepData">
        <script>
            var aantalVoldoendesarray = [];
            var groepData = [];
            var vakken = [];
            var studenten = [];
            var aantalOnvoldoendes = [];
        </script>
        @foreach (var groep in Model.Groepen)
        {
            aantalVoldoende = 0;
            aantalOnvoldoende = 0;
            @foreach (var student in groep.Studenten)
            {
                @foreach (var beoordeling in Model.Resultaten)
                {
                    @if (beoordeling.Student.Id == student.Student.Id)
                    {
                        @if (beoordeling.Beoordeling >= 5.5)
                        {
                            totaalVoldoende++;
                            aantalVoldoende++;
                        }
                        else
                        {
                            totaalOnvoldoende++;
                            aantalOnvoldoende++;
                        }
                    }
                }
            }
            <script>
                groepData.push({
                    Id: '@groep.Id',
                    groepNaam: '@groep.Naam',
                    groepsCode: '@groep.Groepscode',
                    aantalVoldoendes: parseInt('@aantalVoldoende'),
                    aantalOnvoldoendes: parseInt('@aantalOnvoldoende')
                });
            </script>
        }
        <script>
            var totaalVoldoende = parseInt('@totaalVoldoende');
            var totaalOnvoldoende = parseInt('@totaalOnvoldoende');
        </script>
    </div>

    <div class="modal fade" id="snelToevoegenModal" tabindex="-" role="dialog" aria-labelledby="verwijderResultaatTitle" aria-hidden="false">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" style="text-align: center;">
                @*<h3 class="toevoegModal" id="actieTitel">U staat op het punt om dit resultaat te verwijderen</h3>*@
                <div class="modal-body snelToevoegenModal">
                    <div class="toevoegModal" id="inputSection">
                    </div>
                </div>
             @*   <a id="tester" href="#">Test</a>*@
            </div>
        </div>
    </div>

    <script type="text/javascript">
        @foreach (var vak in Model.Vakken)
        {
            <text>
                vakken.push({
                Id: @vak.Id,
                naam: '@vak.Naam',
                vakCode: '@vak.Vakcode'
                });
            </text>
        }
        @foreach (var student in Model.Studenten)
        {
            <text>
            studenten.push({
                Id: @student.Id,
                voorNaam: '@student.Voornaam',
                tussenVoegsel: `@student.Tussenvoegsel`,
                achterNaam: '@student.Achternaam',
                studentNummer: `@student.Studentnummer`
            });
            </text>
        }
    </script>

</body>
</html>
